*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 4vmin;
  font-weight: 400;
  line-height: 6.6vmin;
  color: $textColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  min-width: 360px;
  margin: 0 auto;
  background-color: #ffecb8;
  outline: 1px dotted red;
}

.glob__btn {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.glob__btn-wrap {
  position: relative;
  display: flex;
  min-width: 140px;
  min-height: 40px;
  padding: 3vmin;
  z-index: 0;
}

.glob__btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  color: $captionColor;
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.54));
  width: 100%;
  height: 100%;
  z-index: -1;
}

.glob__h2 {
  margin: 0 0 40px 0;
  font-family: "AdelleCyrillic-Extrabold", "Georgia", serif;
  font-size: 6.1vmin;
  line-height: 10.5vmin;
  letter-spacing: 0.36vmin;
  text-transform: uppercase;
  text-align: center;
  color: $titleColor;
}

.glob__h2 strong {
  font-size: 8vmin;
  color: #ba0b11;
}

.r {
  outline: 1px dotted red;
}

.b {
  outline: 1px dotted blue;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.to_top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #76c8d6;
  font-size: 18px;
  color: #ba0b11;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999;
  opacity: 0.6;
}

.to_top:hover {
  opacity: 1;
  color: #000000;
}

.to_top-show {
  display: block;
}

/*
@media (min-width: $tablet) {
  .container {
    min-width: 720px;
  }
}
*/

/*@media (min-width: $medium) {
  .container {
    min-width: 1200px;
  }
}*/

/*@media (min-width: $large) {
  .container {
    width: 1800px;
  }
}*/
