$large: "1800px";
$medium: "1200px";
$tablet: "768px";
$mobile: "480px";

$textColor: #673a27;
$titleColor: #006c77;
$captionColor: #efd283;
$fw500: 500;
$fw400: 400;

$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font28: 28px;

