$mobileMini: "360px";
$mobile: "480px";
$mobileWide: "600px";
$tablet: "768px";
$tabletWide: "1024px";
$medium: "1280px";
$large: "1800px";

$textColor: #673A27;
$hoverColor: #070606;
$titleColor: #006C77;
$captionColor: #EFD283;
$fw500: 500;
$fw400: 400;

$font14: 16px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
$font28: 28px;
$font30: 30px;
$font32: 32px;
$font34: 34px;
$font44: 44px;
