.contact .container {
	padding: 0 6%;
	margin-bottom: 50px;
}

.contact__form {
	--input-height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	margin: 0 auto 70px auto;
}

.contact__form sup {
	color: #F00F00;
}

.contact__label {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;

	[data-error] {
		position: absolute;
		bottom: 0;
		left: 0;
		height: var(--input-height);
		width: 100%;
		pointer-events: none;

		&::after {
		  content: attr(data-error);
			position: absolute;
			top: 100%;
			left: 16px;
			font-size: 12px;
			line-height: 1.5;
			color: $colorError;
			opacity: 0;
			transition: opacity $delay-default;
		}

		&::before {
			content: url("../img/green-tick.svg");
			position: absolute;
			top: 50%;
			width: 34px;
			height: 30px;
			bottom: 31%;
			right: 5px;
			pointer-events: none;
			transform: translateY(-50%) scale3d(0, 0, 0);
			transition: transform $delay-default;
		}

/*		@media (max-width: $tablet) {
			left: 0;
		}*/
	}
}

.valid {
	input:valid {
		& + span:before {
			transform: translateY(-50%) scale3d(1, 1, 1);
		}
	}
}

.validate {
	input:invalid,
	textarea:invalid {
		border-color: $colorError;

		& + span:after {
			opacity: 1;
		}
	}
}


.contact__input,
.contact__comment {
	display: block;
	width: 100%;
	padding: 0 15px;
	border-radius: 10px;
	border: 2px solid $textColor;
	background-color: $captionColor;
	box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, .2);
	font: inherit;
	letter-spacing: 1.2px;
	transition: border-color $delay-default;
}

.contact__input {
	height: var(--input-height);
	padding-right: 40px;

	&:focus {
		outline: none;
	}
}

.validate {
	input:invalid {
		border-color: $colorError;
	}
}

.contact__input::placeholder {
	opacity: .4;
}

.contact__comment {
	height: 144px;
	padding: 15px;
}

.contact__btn {
	margin-top: 40px;
}

.contact__btn-wrap {
	min-width: 200px;
	min-height: 55px;
	padding: 5vmin 7vmin;
}

.contact__btn-name {
	margin: auto;
	text-transform: uppercase;
	font-family: Montserrat, Arial, sans-serif;
	font-size: $font16;
	letter-spacing: 2px;
	color: #FFF;
}

.sending {
	margin: 0;
	color: #DBA101;
}

.contact__btn-bg {
	color: $textColor;
	transition: color .3s;
}

.contact__btn {
	position: relative;

	&:active .contact__btn-name {
		color: #DBA101;
	}

	&:hover .contact__btn-bg,
	&:focus .contact__btn-bg {
		color: $hoverColor;
	}
}

.contact__images {
	position: relative;
	width: 87vw;
	max-width: 534px;
	height: 87vw;
	max-height: 505px;
	margin: 0 auto 50px auto;
}

.contact__img {
	width: 62.5%;
	position: absolute;
	padding: 10px 10px 40px 10px;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, .44);
	background-color: #FFF;
}

.contact__img IMG {
	width: 100%;
	height: auto;
}

.contact__img-1 {
	top: 0;
	right: 0;
}

.contact__img-2 {
	bottom: 0;
	left: 0;
}

.contact__address {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-style: normal;
}

.contact__link {
	color: $textColor;
	text-decoration: none;
	margin-bottom: 20px;
	font-size: $font18;
}

.contact__city {
	margin: 0 0 20px 0;
	font-size: $font18;
}

@media (min-width: $mobile) {
	.contact__images {
		width: 75vw;
		height: 75vw;
	}
}

@media (min-width: $mobileWide) {
	.catering__btn-name,
	.contact__btn-name {
		font-size: $font20;
	}

	.catering__btn-wrap,
	.contact__btn-wrap {
		min-width: 240px;
		min-height: 65px;
		padding: 25px 40px;
	}
}

@media (min-width: $tablet) {
	.contact .container {
		margin-bottom: 80px;
	}

	.contact__label {
		font-size: $font20;
	}

	.contact__field-title {
		margin-bottom: 10px;
	}

	.catering__btn-name,
	.contact__btn-name {
		font-size: $font22;
	}

	.catering__btn-wrap,
	.contact__btn-wrap {
		min-width: 300px;
		min-height: 65px;
		padding: 25px 40px;
	}
}

@media (min-width: $medium) {
	.contact__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.contact__form {
		max-width: 450px;
		width: 30%;
		margin: 0;
	}

	.contact__address {
		align-items: flex-start;
		max-width: 30%;
	}

	.contact__images {
		width: 30vw;
		height: 30vw;
		margin: 0;
	}

	.contact__link,
	.contact__city {
		font-size: $font20;
		letter-spacing: 3px;
		margin-bottom: 53px;
	}

	.contact__input {
		font-size: $font16;
	}
}

@media (min-width: 1680px) {
	.contact__input {
		font-size: inherit;
	}
}

@media (min-width: 1921px) {
	.contact .container {
		padding: 0 50px;
	}
}
