.success-send {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	visibility: hidden;
	transform: scale3d(1.4, 1.4, 1);
	transition-property: visibility, opacity, transform;
	transition-duration: $delay-default;
	z-index: 999;

	&--active {
		opacity: 1;
		visibility: visible;
		transform: scale3d(1, 1, 1);
	}
}

.success-send__title {
	font-size: 18px;
	margin-bottom: 40px;
}

.success-send__wrap {
	padding: 20px 20px 30px;
	width: 100%;
	max-width: 500px;
	background-color: #FFECB8;
	text-align: center;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
	border-radius: 5px;
}

.success-send__button {
	position: relative;
	width: 120px;
	height: 60px;
	border-radius: 10px;
	border: 0;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	background-color: #46B436;
	transition: .3s;
	font: inherit;
	font-size: $font24;
	color: #FFF;
	letter-spacing: 2px;
	cursor: pointer;

	&:active {
		background-color: $hoverColor;
		color: #DBA101;
	}
}
