RewriteEngine On

RewriteCond %{HTTP_HOST} magicmugcafe\.com [NC]

RewriteCond %{SERVER_PORT} 80

RewriteRule ^(.*)$ https://magicmugcafe.com/$1 [R,L]

<filesMatch ".(js|css|woff|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

<filesMatch ".(jpg|jpeg|png|gif|ico|svg|webp)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

<filesMatch ".(html)$">
Header set Cache-Control "no-cache, public"
</filesMatch>