.about-us__info {
  padding: 0 6%;
}

.about-us__content {
  font-weight: $fw500;
  margin-bottom: 40px;
}

.about-us__title {
  text-align: left;
}

.about-us__title strong {
  display: block;
  font-size: $font20;
  line-height: 30px;

  @media (min-width: 414px) {
    font-size: 26px;
    line-height: 40px;
  }
}

@media (min-width: $mobileMini) {
  .about-us__title strong {
    font-size: 23px;
    line-height: 34px;
  }

  .about-us__title {
    text-align: center;
  }
}

@media (min-width: $mobileWide) {
  .about-us__title strong {
    font-size: $font30;
    line-height: 45px;
  }

  .about-us__content {
    font-size: 16px;
  }
}

@media (min-width: $tablet) {
  .about-us__title strong {
    font-size: $font34;
    line-height: 48px;
  }

  .about-us__content {
    font-size: 18px;
  }
}

@media (min-width: $tabletWide) {
  .about-us .container {
    display: flex;
    align-items: center;
  }

  .about-us__slider {
    order: -1;
    width: 50%;
  }

  .about-us__info {
    width: 50%;
  }
}
