.about_us__info {
  padding: 0 20px;
}

.about-us__title {
  margin-bottom: 30px;
  line-height: 42px;
  color: #006c77;
  text-align: left;
}

.about-us__content {
  font-size: 16px;
  font-weight: 500;
}
