.about-us__info {
  padding: 0 6%;
}

.about-us__content {
  font-weight: $fw500;
  margin-bottom: 40px;
}

.about-us__title {
  text-align: left;
}

.about-us__title strong {
  display: block;
  font-size: $font20;
  line-height: 30px;
}
