.advantages {
  padding: 50px 6%;
  margin-bottom: 50px;
  background-image: url("../img/bg/bg-orange.jpg");
  background-repeat: repeat;
}

.advantages__title {
  font-size: 8vmin;
  color: #ba0b11;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.advantages__item:not(:first-child) {
  margin-top: 40px;
}

.advantages__img {
  background-image: url("../img/png/sprite-icon.png");
  background-repeat: no-repeat;
}

.advantages__img--one {
  background-position: 0 -674px;
  width: 132px;
  height: 79px;
}

.advantages__img--two {
  background-position: 0 0;
  width: 90px;
  height: 89px;
}

.advantages__img--three {
  background-position: 0 -577px;
  width: 95px;
  height: 96px;
}

.advantages__topic {
  font-size: 6.67vmin;
  color: $titleColor;
  text-transform: uppercase;
}

.advantages__content {
  margin: 0;
  font-size: 4vmin;
  font-weight: $fw500;
  letter-spacing: 0.4px;
}
