.catering {
	background-image: url("../img/bg/bg-orange.jpg");
	background-repeat: repeat;
}

.catering .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 6%;
}

.catering__list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.catering__item span {
	font-size: $font14;
	line-height: $font14;
}

.catering__item {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-bottom: 50px;
	font-size: $font16;
	text-transform: uppercase;
	align-items: center;

	&::before {
		content: "";
		display: block;
		margin-bottom: 30px;
		background-image: url("../img/png/sprite-icon@1x.png");
		background-repeat: no-repeat;
		background-size: 171px 916px;
		height: 100px;

		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url("../img/png/sprite-icon@2x.png");
		}
	}
}

.catering__item--event::before {
	background-position: 0 0;
	width: 94px;
}

.catering__item--festival::before {
	background-position: 0 -102px;
	width: 100px;
}

.catering__item--volunteer::before {
	background-position: 0 -204px;
	width: 111px;
}

.catering__item--birthday::before {
	background-position: 0 -306px;
	width: 111px;
}

.catering__item--employee::before {
	background-position: 0 -408px;
	width: 135px;
}

.catering__item--party::before {
	background-position: 0 -510px;
	width: 95px;
}

.catering__btn-bg {
	color: $textColor;
	transition: color 0.3s;
}

.catering__link {
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	&:hover .catering__btn-bg {
		color: $hoverColor;
	}

	&:active {
		color: #dba101;
	}

	&:active .catering__btn-bg,
	&:focus .catering__btn-bg {
		color: $hoverColor;
	}
}

.catering__btn-wrap {
	min-width: 200px;
	min-height: 65px;
	padding: 5vmin 7vmin;
}

.catering__btn-name {
	margin: auto;
	text-transform: uppercase;
	font-size: $font16;
	letter-spacing: 2px;
}

@media (min-width: $tablet) {
	.catering__container {
		padding: 80px 6%;
	}

	.catering__item {
		width: 33.33%;
		font-size: 24px;
	}

	.catering__item span {
		font-size: $font16;
		line-height: $font18;
	}

	.catering__link {
		&:active {
			color: #dba101;
		}

		&:hover .catering__btn-bg {
			color: $hoverColor;
		}
	}
}

@media (min-width: $medium) {
	.catering__item {
		width: 16.66%;
		margin-bottom: 80px;
	}
}
