.catering {
  padding: 50px 20px;
  background-image: url("../img/bg/bg-orange.jpg");
  background-repeat: repeat;
  text-align: center;
}

.catering__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catering__item span {
  font-size: 14px;
  line-height: 14px;
}

.catering__item {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-bottom: 50px;
  font-size: 18px;
  text-transform: uppercase;
  align-items: center;

  &::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background-image: url("../img/png/sprite-icon.png");
    background-repeat: no-repeat;
    background-position: 0 -754px;
    width: 104px;
    height: 95px;
  }
}

.catering__item--festival::before {
  background-position: 0 -185px;
  width: 105px;
  height: 105px;
}

.catering__item--event::before {
  background-position: 0 -387px;
  width: 87px;
  margin-top: 10px;
}

.catering__item--birthday::before {
  background-position: 0 -90px;
}

.catering__item--employee::before {
  background-position: 0 -291px;
  width: 127px;
}

.catering__item--party::before {
  background-position: 0 -482px;
  width: 88px;
}

.catering__link {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.catering__btn-wrap {
  min-width: 240px;
  min-height: 65px;
}

.catering__btn-name {
  margin: auto;
  font-family: "AdelleCyrillic-SemiBold", "Georgia", serif;
  font-size: 20px;
  letter-spacing: 1.5px;
}

/*.catering__link p {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 4px);
  transform: translate(-50%, -50%);
  margin: 0;

}*/

.catering__btn-bg {
  color: $textColor;
}

