.catering {
  background-image: url("../img/bg/bg-orange.jpg");
  background-repeat: repeat;
}

.catering .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 6%;
}

.catering__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.catering__item span {
  font-size: $font14;
  line-height: $font14;
}

.catering__item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 50px;
  font-size: $font16;
  text-transform: uppercase;
  align-items: center;

  &::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background-image: url("../img/png/sprite-icon.png");
    background-repeat: no-repeat;
    background-position: 0 -754px;
    width: 104px;
    height: 95px;
  }
}

.catering__item--festival::before {
  background-position: 0 -185px;
  width: 105px;
  height: 105px;
}

.catering__item--event::before {
  background-position: 0 -387px;
  width: 87px;
  margin-top: 10px;
}

.catering__item--birthday::before {
  background-position: 0 -90px;
}

.catering__item--employee::before {
  background-position: 0 -291px;
  width: 127px;
}

.catering__item--party::before {
  background-position: 0 -482px;
  width: 88px;
}

.catering__link {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover .catering__btn-bg {
    color: $hoverColor;
  }

  &:active {
    color: #dba101;
  }

  &:active .catering__btn-bg {
    color: $hoverColor;
  }
}

.catering__btn-wrap {
  min-width: 200px;
  min-height: 65px;
  padding: 5vmin 7vmin;
}

.catering__btn-name {
  margin: auto;
  text-transform: uppercase;
  font-size: $font16;
  letter-spacing: 2px;
}

.catering__btn-bg {
  color: $textColor;
  transition: color 0.3s;
}

@media (min-width: $tablet) {
  .catering__container {
    padding: 80px 6%;
  }

  .catering__item {
    width: 33.33%;
    font-size: 24px;
  }

  .catering__item span {
    font-size: $font16;
    line-height: $font18;
  }

  .catering__link {
    &:active {
      color: #dba101;
    }

    &:hover .catering__btn-bg {
      color: $hoverColor;
    }
  }
}

@media (min-width: $medium) {
  .catering__item {
    width: 16.66%;
    margin-bottom: 80px;
  }
}
