.footer {
  padding: 20px 20px;
  background-image: url("../img/bg/bg-orange.jpg");
  background-repeat: repeat;
  font-size: 14px;
  font-weight: 500;
}

/*.to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #7db9e8;
  opacity: 1;
  color: #ffffff;
  padding: 10px;
  margin: 5px 15px 15px 5px;
  z-index: 99;
}*/

.back_to_top {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 99;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #3ff521;
  color: #444444;
  cursor: pointer;
  border-radius: 2px;
}

.back_to_top:hover {
  background-color: orange;
}

.back_to_top-show {
  display: block;
}
