.footer {
  padding: 20px 6%;
  background-image: url("../img/bg/bg-orange.jpg");
  background-repeat: repeat;
  font-weight: 500;
}

@media (min-width: $tablet) {
  .footer__copyright {
    font-size: 16px;
  }
}
