.header {
  margin-bottom: 50px;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
  justify-content: space-between;
  align-items: center;
}

.header__social {
  margin-left: 6%;
  flex-direction: column;
  height: 63px;
  align-content: flex-start;
}

.header__logo {
  margin-right: calc(50% - 46px);
}

.header__nav {
  padding-top: 20px;
}

.header__bg-wrap {
  position: relative;

  &::before {
    content: "";
    height: 10px;
    background-image: url("../img/wave.svg");
    background-repeat: repeat-x;
    background-size: auto 10px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

.header__bg-image {
  width: 100%;
  height: auto;
}

.header__nav--no-js .nav__menu-opener {
  display: none;
}

.header__nav--no-js .nav__list {
  display: block;
}

.header__nav--menu-open .nav__list {
  display: block;
  position: absolute;
  width: 160px;
  top: 20px;
  right: 0;
  z-index: 5;
}

.header__nav--menu-open .nav__button-icon {
  width: 0;
  transition: 0.3s;
  right: 1px;

  &::before,
  &::after {
    width: 42px;
    transform: rotate(-45deg);
    transform-origin: 87% 50%;
    transition: 0.3s;
  }

  &::after {
    transform: rotate(45deg);
  }
}

@media (min-width: $mobile) {
  .header__social {
    flex-direction: row;
    height: auto;
    align-content: unset;
  }

  @media (min-width: $mobileWide) {
    .header__nav--menu-open .nav__list {
      width: 180px;
    }
  }

  .header__bg-wrap::before {
    height: 15px;
    background-size: auto 15px;
  }
}

@media (min-width: $tablet) {
  .header__img-logo {
    width: 82px;
    height: 60px;
  }
}
