.header {
  margin-bottom: 50px;
  padding: 20px 0 0 0;
}

.header__wrap {
  position: relative;
  padding: 0 6% 20px 6%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__social {
  width: 33.3%;
  flex-direction: column;
  height: 63px;
  align-content: flex-start;
}

.header__logo {
  width: 33.3%;
  text-align: center;
}

.header__img-logo {
  display: block;
  margin: 0 auto;
}

.header__nav {
  width: 33.3%;
}

.header__nav.header__nav--no-js {
  width: 100%;
  padding-top: 30px;
  text-align: center;
}

.header__bg-wrap {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 10px;
    background-image: url("../img/wave.svg");
    background-repeat: repeat-x;
    background-size: 40px 10px;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

.header__bg-image {
  width: 100%;
  height: auto;
}

.header__nav--no-js .nav__menu-opener {
  display: none;
}

.header__nav--no-js .nav__list {
  display: block;
}

.header__nav--menu-open .nav__list {
  display: block;
  position: absolute;
  width: 160px;
  top: 65px;
  right: -6.1vw;
  z-index: 5;
}

.header__nav--menu-open .nav__button-icon {
  width: 0;
  transition: 0.3s;
  right: 1px;

  &::before,
  &::after {
    width: 42px;
    transform: rotate(-45deg);
    transform-origin: 87% 50%;
    transition: 0.3s;
  }

  &::after {
    transform: rotate(45deg);
  }
}

@media (min-width: $mobile) {
  .header__social {
    flex-direction: row;
    align-content: center;
  }

  .header__nav--no-js .nav__list {
    display: inline-flex;
    padding-top: 0;
    justify-content: space-between;
  }

  .header__nav--no-js .nav__item {
    padding: 0 0 0 30px;
  }

  .header__nav--no-js .nav__item:first-child {
    padding-left: 0;
  }
}

@media (min-width: $mobileWide) {
  .header__nav--menu-open .nav__list {
    width: 180px;
  }

  .header__img-logo {
    width: 90px;
    height: 70px;
  }

  .header__social {
    height: 77px;
  }

  .header__nav--no-js {
    padding-top: 40px;
  }
}

@media (min-width: $tablet) {
  .header {
    margin-bottom: 80px;
  }

  .header__img-logo {
    width: 110px;
    height: 85px;
  }

  .header__social {
    height: 92px;
  }

  .header__bg-wrap::before {
    height: 15px;
    background-size: 50px 15px;
  }

  .header__nav--no-js {
    padding-top: 60px;
  }

  .header__nav--menu-open .nav__list {
    width: 220px;
  }

  .header__nav--no-js .nav__item {
    padding: 0 0 0 40px;
  }
}

@media (min-width: $tabletWide) {
  .header {
    margin-bottom: 100px;
  }

  .header__nav.header__nav--no-js {
    padding-top: 50px;
  }

  .header__nav--menu-open .nav__list {
    width: 260px;
  }

  .header__img-logo {
    width: 130px;
    height: 105px;
  }

  .header__social {
    height: 112px;
  }
}

@media (min-width: $medium) {
  .header {
    padding: 30px 0 0 0;
  }

  .header__img-logo {
    width: 150px;
    height: 120px;
  }

  .header__logo {
    position: static;
    transform: none;
    order: -1;
  }

  .header__social {
    height: 112px;
    margin-left: 0;
    order: 1;
  }

  .nav__menu-opener {
    display: none;
  }

  .header__wrap {
    padding: 0 6% 30px 6%;
    justify-content: space-between;
  }

  .header__bg-wrap::before {
    height: 30px;
    background-size: 100px 30px;
  }

  .header__nav.header__nav--no-js {
    width: auto;
    padding-top: 30px;
  }

  .header__social,
  .header__logo,
  .header__nav {
    width: auto;
  }

  .header__nav--menu-open .nav__list {
    position: static;
    display: flex;
    width: auto;
  }
}
