.menu {
  padding: 35% 6% 0 6%;
  margin-bottom: 50px;
  font-size: 4vmin;
  background-image: url("../img/bg/palm480_top.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.menu__title {
  font-size: 8vmin;
  color: #ba0b11;
}

.menu__subtitle {
  text-align: center;
  margin: auto;
  letter-spacing: 0.5px;
}

.menu__subtitle-top {
  margin-bottom: 30px;
}

.menu__subtitle-bottom {
  display: inline-flex;
  min-width: 140px;
  margin-bottom: 30px;
}

.menu__subtitle-bottom--last {
  min-width: 120px;
}

.menu__unit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.menu__subunit--big {
  width: 100%;
  margin-bottom: 40px;
}

.menu__sublist--big {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__item {
  text-align: center;
  font-weight: $fw500;
}

.menu__item--big {
  width: 45%;
}

@media (min-width: $mobile) {
  .menu {
    background-image: url("../img/bg/palm768_top.png");
  }

  .menu__unit {
    max-width: 440px;
  }
}
