.menu {
  padding: 130px 20px 0 20px;
  margin-bottom: 50px;
  font-size: 14px;
  background-image: url("../img/bg/palm360_top.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.menu__title {
  font-size: 28px;
  color: #ba0b11;
}

.menu__subtitle {
  text-align: center;
  margin: auto;
  letter-spacing: 0.5px;
}

.menu__subtitle-top {
  margin-bottom: 30px;
}

.menu__subtitle-bottom {
  display: inline-flex;
  min-width: 140px;
  margin-bottom: 30px;
}

.menu__subtitle-bottom--last {
  min-width: 120px;
}

.menu__unit {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.menu__subunit--big {
  width: 100%;
  margin-bottom: 40px;
}

.menu__sublist--big {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__item {
  text-align: center;
  font-weight: $fw500;
}

.menu__item--big {
  width: 45%;
}
