.nav {
  width: 100%;
  text-align: center;
}

.nav__menu-opener {
  position: relative;
  width: 35px;
  height: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.nav__button-icon {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $textColor;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: $textColor;
    transition: 0.3s;
  }

  &::after {
    top: 11px;
  }
}

.nav__list {
  display: none;
  background-color: #ffecb8;
  text-align: center;
  padding-top: 30px;
}

.nav__item {
  padding: 0 30px 20px 30px;
}

.nav__item:last-child {
  padding-bottom: 15px;
}

.nav__link {
  display: block;
  width: auto;
  border-bottom: 1px solid rgba(103, 58, 39, 0.3);
  font-family: "AdelleCyrillic-Extrabold", "Georgia", serif;
  color: inherit;
  text-decoration: none;
}

@media (min-width: $mobile) {
  .nav__item {
    padding: 0 0 0 30px;
  }

  .nav__item:first-child {
    padding-left: 0;
  }
}

@media (min-width: $mobileWide) {
  .nav__link {
    font-size: $font16;
  }
}

@media (min-width: $tablet) {
  .nav__list {
    padding-top: 40px;
  }

  .nav__link {
    font-size: $font18;
  }
}

@media (min-width: $tabletWide) {
  .nav__list {
    padding-top: 40px;
  }

  .nav__link {
    font-size: $font22;
  }

  .nav__item:not(:first-child) {
    padding-left: 40px;
  }
}

@media (min-width: $medium) {
  .nav {
    width: auto;
    padding-top: 0;
  }

  .nav__menu-opener {
    display: none;
  }

  .nav__list {
    padding: 0;
    display: flex;
  }

  .nav__item:last-child {
    padding-bottom: 0;
  }
}
