.sk-three-bounce {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  top: 50%;
  right: 13%;
  transform: translateY(-50%);
  margin: auto;
  width: 25%;
  max-width: 75px;
  height: 15px;
  text-align: center;
  z-index: 100;
}

.display-none {
  display: none;
}

.sk-three-bounce .sk-child {
  width: 15px;
  height: 15px;
  background-color: #dba101;
  border-radius: 50%;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce-1 {
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce-2 {
  animation-delay: -0.16s;
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
