.price {
  display: table;
  width: 100%;
  margin-bottom: 40px;
  font-size: 4vmin;
}

.price__no-js .price__invisible {
  display: none;
}

.price__caption {
  display: table-caption;
}

.price__row,
.price__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price__head {
  position: relative;
}

.price__row {
  border-bottom: 1px solid $captionColor;
}

.price__subtitle-wrap {
  min-width: 120px;
}

.price__subtitle-2-wrap {
  min-width: 160px;
}


.price__sign {
  margin: auto;
  letter-spacing: 0.5px;
}

.price__cell {
  padding: 25px 0;
  text-align: center;
  font-weight: $fw500;
}

.price__cell--1 {
  width: 120px;
}

.price__cell--2,
.price__cell--3,
.price__cell--4 {
  width: 160px;
}

.hide {
  display: none;
}

.price__select {
  padding-right: 15px;
  border: 0;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  text-align: center;
  appearance: none;
  color: $textColor;
  //letter-spacing: 1.2px;
}

.price__for-pseudo {
  position: relative;

  &::before {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    pointer-events: none;
    z-index: 6;
  }
}

.price__small {
  font-size: 14px;
  font-weight: $fw500;
}
