.price {
  display: table;
  width: 100%;
  font-size: 14px;
  outline: 1px dotted red;
  //border-spacing: ;
}

.price__caption {
  display: table-caption;
}

.price ul {
  display: flex;
}

/*.price__head,
.price__cell {
  display: table-cell;
}*/

.price__head {
  position: relative;
  text-align: center;
  z-index: 0;
}

ul {
  border-bottom: 1px solid $captionColor;
}

.price__svg {
  width: 140px;
  color: $captionColor;
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.5));
}

.price__sign {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  //transform: translate(-50%, -46%);
}

.price__cell {
  text-align: center;
}

.price__row .price__cell {
  padding: 25px 0;
}

.hide {
  display: none;
}

.sel {
  padding-right: 5px;
  border: 0;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  text-align: right;
}

.price__for-pseudo {
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -2px;
    width: 20px;
    height: 30px;
    background-color: #ffecb8;
    pointer-events: none;
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    border: 12px solid $textColor;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0;
    pointer-events: none;
    z-index: 6;
  }
}
