.slider__arrow-forward,
.slider__arrow-back {
  position: absolute;
  width: 40px;
  height: 60px;
  top: calc(50% - 30px);
  right: 5px;
  cursor: pointer;
  z-index: 7;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 40px;
    height: 8px;
    background-color: #ffffff;
    z-index: 10;
    transform: rotate(45deg);
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  }

  &::after {
    top: 38px;
    transform: rotate(-225deg);
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__arrow-back {
  left: 5px;
  transform: rotate(180deg);
}

.slider__indicators {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
}

.slider__ind {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 2px #000000;
}

.slider__inner {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.slider__slides {
  display: flex;
  //height: 56.25vw;
  max-height: 450px;
  width: 400%;
  transition: transform 0.8s ease;
}

.slider__slides picture {
  display: block;
  //width: 25%;
  width: 33.33%;
}

.slider__img {
  display: block;
  width: 99.99%;
  height: auto;
}

.translate-0 .slider__slides {
  transform: translate(0);
}

.translate-0 .slider__indicators .ind-1 {
  background-color: #f8cd60;
}

.translate-25 .slider__slides {
  transform: translate(-33.33%);
}

.translate-25 .slider__indicators .ind-2 {
  background-color: #f8cd60;
}

.translate-50 .slider__slides {
  transform: translate(-66.66%);
}

.translate-50 .slider__indicators .ind-3 {
  background-color: #f8cd60;
}

/*.translate-75 .slider__slides {
  transform: translate(-99.99%);
}

.translate-75 .slider__indicators .ind-4 {
  background-color: #f8cd60;
}*/

.slider__no-js .slider__arrow-back,
.slider__no-js .slider__arrow-forward,
.slider__no-js .slider__indicators {
  display: none;
}

@media (min-width: $tabletWide) {
  .slider__slides {
    height: 28.13vw;
  }
}
