.social-net {
  display: flex;
  flex-direction: column;
  height: 62px;
  min-width: 75px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.social-net__item {
  margin-right: 12px;
}

/*.social-net__icon {
  width: 55px;
  height: 54px;
}*/

.social-net__color {
  fill: #673A27;
}
